<!doctype html>
<html lang="en">
  <head>
    <title>Contact Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
  </head>
  <body>
    {% block body %}

    <nav class="navbar navbar-expand navbar-light bg-primary">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <h2 class="navbar navbar-brand" >Contact Management System</h2>
            </li>
        </ul>
    </nav>

    <br />

    <div class="container">

      <h3>My Telephone Book</h3>
      <br />

      <form action="{{path('new')}}">
        <button type="submit" class="btn btn-primary">+ Add Contact</button>
      </form>

      <br />

      <div class="table-responsive">
        <table class="table table-bordered table-striped" id="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Phone</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for contact in contacts|sort((a, b) => a.name <=> b.name) %}
            <tr>
              <td>{{ contact.name }}</td>
              <td>{{ contact.surname }}</td>
              <td>{{ contact.cel }}</td>
              <td>
                <a class="btn btn-danger" onclick="return confirm('Are you sure to delete this contact?')" href="{{path('delete', {'id':contact.id})}}">X</a>
                <a class="btn btn-warning" href="{{path('edit', {'id':contact.id})}}">M</a>
                <a class="btn btn-info" href="{{path('show', {'id':contact.id})}}">S</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.js"></script>
    
    <script>
        $('#table').DataTable({
            order: [[3, 'desc']],
            pagingType: 'full_numbers'
        });
    </script>
    {% endblock %}
  </body>
</html>
