<!doctype html>
<html lang="en">
  <head>
    <title>Contact Management System: New</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% block body %}

    <nav class="navbar navbar-expand navbar-light bg-primary">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <h2 class="navbar navbar-brand" >Contact Management System</h2>
            </li>
        </ul>
    </nav>
    <br/>

    <div class="container">

    <h3>New Contact</h3>

    <br />

        <form action="{{path('create')}}" method="POST">

            <div class="form-group">
              <label for="">Name*</label>
              <input type="text" class="form-control" name="name" id="" aria-describedby="helpId" placeholder="Insert name..." required>
              <label for="">Surname</label>
              <input type="text" class="form-control" name="surname" id="" aria-describedby="helpId" placeholder="Insert surname...">
              <label for="">Email</label>
              <input type="text" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="Insert email...">
              <label for="">Phone*</label>
              <input type="text" class="form-control" name="cel" id="" aria-describedby="helpId" placeholder="Insert phone number..." required>
              <br /><button type="submit" class="btn btn-primary">Create</button> - <a class="btn btn-primary" href="{{path('contact')}}">Home</a>
            </div>

        </form>

        <u><p>Fields marked with * are required</p></u>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>